* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
.row, figure{
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    width: 100%;
}


[class*="col-"],
[class^="col-"] {
    padding: 5px;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-container img {
    min-width: 100%;
    object-fit: cover;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.button-container {
    height: 100%;
    text-align: center;
}

.button-container button {
    padding: 7px 18px;
    border: none;
    border-radius: 3px;
    background: #1976d2;
    color: #fff;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
}

.button-container button:hover {
    background: #2780da;
}

/* ->Estilos generales */

/* Body */

main {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.container {
    display: inline-block;
    height: 35%;
    padding: 20px;
}

/* ->Body */

/* Imágenes */

.images-cards figure {
    position: relative;
}

.images-cards img {
    height: 240px;
}

.images-cards figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 44px;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
}

.images-cards figure figcaption:hover {
    opacity: 1;
}

/* ->Imágenes */

/* Selector de imágenes */

#Images .add-new-photo {
    display: flex;
    border: 4px dashed #fff;
    height: 100%;
    width: 100%;
    min-height: 140px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
}

#Images .add-new-photo.first:hover {
    background: rgba(255, 255, 255, 0.17);
}

#add-photo-container input {
    display: none;
}

/* ->Selector de imágenes */


.contenedor {
	width: 80%;
	max-width: 100px;
	margin: 5px;
	padding: 40px 0;
}

.selectbox,
.selectbox1 {
	margin: auto;
	position: relative;
}

.select,
.select1 {
	background: #FFF;
	width: 100%;
    height: 60%;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, .16);
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: .2s ease all;
	margin-bottom: 30px;
	padding: 30px;
	position: relative;
	z-index: 200;
	border: 2px solid transparent;
}

.select.active,
.select:hover,
.select1.active,
.select1:hover {
	box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
	border: 2px solid #213f8f;
}

.select.active:before,
.select1.active:before {
	content: "";
	display: block;
	height: 0;
	width: auto;
	border-top: 15px solid #213f8f;
	border-right: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid transparent;
	position: absolute;
	bottom: -15px;
	left: calc(50% - 15px);
}

.select i,
.select1 i{
	font-size: 20px;
	margin-left: 20px;
	color: #213f8f;
}

.titulo {
	margin-bottom: 15px;
	color: #000;
	font-weight: 300;
	font-size: 15px;
}

.descripcion {
	font-size: 10px;
	color: #434343;
    
}

.opciones,
.opciones1 {
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 5px 10px rgba(0,0,0,.16);
	max-height: 100px;
	overflow: auto;
	z-index: 80;
	width: 100%;
    height: 60%;
	display: none;
}

.opciones.active,
.opciones1.active {
	display: block;
	animation: fadeIn .3s forwards;
}

@keyframes fadeIn {
	from {
		transform: translateY(-200px) scale(.5);
	}
	to {
		transform: translateY(0) scale(1);
	}
}

.contenido-opcion,
.contenido-opcion1 {
	width: 100%;
	display: flex;
	align-items: center;
	transition: .2s ease all;
}

.opciones .contenido-opcion,
.opciones1 .contenido-opcion1 {
	padding: 30px;
}

.contenido-opcion img,
.contenido-opcion1 img {
	width: 60px;
	height: 60px;
	margin-right: 30px;
}

.opciones .contenido-opcion:hover,
.opciones1 .contenido-opcion1:hover{
	background: #213F8F;
}

.opciones .contenido-opcion:hover .titulo,
.opciones .contenido-opcion:hover .descripcion,
.opciones1 .contenido-opcion1:hover .titulo,
.opciones1 .contenido-opcion1:hover .descripcion{
	color: #fff;
}

@media screen and (max-width: 800px){
	.selectbox {
		width: 100%;
	}
}
#desc{
	width: 300px;
	height: 20px;
    border-color: #27C5E2;
}