*{
    font-family:'Lucida Sans Unicode';
}

body{
    background-color: #232537;
}
.section-border{
    border: 2px dashed steelblue;
    padding: .5em;
    margin: 1em auto;
    width: 1000px;
    height: 800px;
}
.input-css{
    box-shadow: 3px 3px 11px #448ee4;
    background: transparent;
    border: 2px solid #448ee4;
    border-radius: 5px 5px 5px 5px;
    color: white;
    width: 180px; 
    height: 34px;
    font-size: 15px;
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;

}

.input-css1{
    box-shadow: 3px 3px 11px #448ee4;
    border: 2px solid #448ee4;
    border-radius: 5px 5px 5px 5px;
    background: transparent;
    color:white;
    width: 75px; 
    height: 34px;
    font-size: 15px;
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;

}
.input-css1:focus, .select-css:focus {
    background-color: #232537;
    border: 4px solid green;
    color: white;
    }

.input-css2{
    box-shadow: 3px 3px 11px #448ee4;
    background: transparent;
    border: 2px solid #448ee4;
    border-radius: 5px 5px 5px 5px;
    color: white;
    width: 150px; 
    height: 34px;
    font-size: 15px;
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;

}

table {
    width: 100%;
    height: 50%;

}
tr{
    /*border: green 5px solid;*/
    vertical-align: center;

}

th, td {
    /*border: green 5px solid;*/
    width: 25%;
    text-align: left;
    align-items: center;
    vertical-align: center;
    padding-top: 3px;
    padding-bottom: 3px;

 }
 .select-css {
    font-weight: 400;
    line-height: 1.3;
    width: 180px; 
    height: 34px;
    background: transparent;
    overflow: hidden; 
    color: white;
    align-content: center;
    box-shadow: 3px 3px 11px #448ee4;
    border: 2px solid #448ee4;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
         box-sizing: border-box;
 }

 .photo-input[type="file"]{
     display: none;

 }




div-border {
    border-radius: 5px;
    color: #444;
    font-size: 2.8em;
    font-weight: bold;
    line-height: 100px;
    padding: .5rem;
    text-align: center;
    background: rgba(173,216,230, .7);
    width: 100px;
    height: 100px;
    position: relative;
}


h2{
    color: #007bff;
    background-image: linear-gradient(to top,#00D8FF 0%, #437A84 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:  transparent;
    text-align: center ;
}
p{
	display: table-cell;
    color: white;
    font-size: 15px;
}

.one{
    background: #232537;
    width: 100%;
    height: 100%;
    padding: 15px;
}

.two{
    background: palevioletred;
    top: 10px;
    left: 100px;
}

.three{
    background: peru;
    top: -50px;
    left: 150px;
}

.padre{
    background:transparent;
    height: 230px;
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg-error{
    color: red;
    font-size: 10px;
}
#map {
  height: 100%;
  width: 100%;
  display: flex !important;
}

.autocompletar{
    position: absolute  !important;
    display: inline-block  !important;
    text-transform:uppercase
}


strong{
    color:white;   
    background-color: #00D8FF; 
}

#estado{
    color:white!important;
    border: none;
    border-radius: 30px;
    font-size: 1em;
    outline: none;
    text-align: center;

}

#municipio{
    color:white!important;
    border: none;
    border-radius: 30px;
    font-size: 1em;
    outline: none;
    text-align: center;
}


#localidad{
    color:white!important;
    border: none;
    border-radius: 30px;
    font-size: 1em;
    outline: none;
    text-align: center;
}


.lista-autocompletar-estado{
    color: black !important;
    position: absolute !important;
    border: 1px solid #448ee4 !important;
    border-bottom: none !important;
    z-index: 200 !important;
    left:200px !important;
    right: 200px !important;
    width:180px !important;
    height: 34px;
}
.lista-autocompletar-municipio{
    color: black !important;
    position: absolute !important;
    border: 1px solid #448ee4 !important;
    border-bottom: none !important;
    z-index: 200 !important;
    left:400px !important;
    right: 200px !important;
    width:180px !important;
    height: 34px;
}

.lista-autocompletar-localidad{
    color: black !important;
    position: absolute !important;
    border: 1px solid #448ee4 !important;
    border-bottom: none !important;
    z-index: 200 !important;
    left:800px !important;
    right: 200px !important;
    width:180px !important;
    height: 34px;
}

.lista-autocompletar-estado div{
    padding: 10px  !important;
    cursor: pointer  !important;
    background-color: white  !important;
    border-bottom: 1px solid white  !important;

}

.lista-autocompletar-municipio div{
    padding: 10px  !important;
    cursor: pointer  !important;
    background-color: white  !important;
    border-bottom: 1px solid white  !important;

}

.lista-autocompletar-localidad div{
    padding: 10px  !important;
    cursor: pointer  !important;
    background-color: white  !important;
    border-bottom: 1px solid white  !important;

}

.lista-autocompletar-estado, .lista-autocompletar-municipio , .lista-autocompletar-localidad div:hover{
    background-color: dodgerblue !important;
}

.autocompletar-active{
    background-color: dodgerblue !important;
    color: #a1caff !important;
}

.autocompletar-active strong{
    color: white !important;
}